@import "../globals.scss";

.trailers-container {
  background-color: $colorBlanco;
  overflow: hidden;
  width: 100vw;
  .scene-container {
    min-height: 100vh;
  }
  .video {
    position: relative;
    width: 100%;
  }
}
.cont-hero-trailer {
  position: relative;
  width: 100vw;
  overflow: hidden;
  .trailer-hero-title {
    @include heroPages;
  }
}
.contenedor-transportable {
  width: 100vw;
  overflow: hidden;
}
.video-trailer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-3d {
  padding: $paddingconTop;
}
@media (max-width: 600px) {
  .cont-hero-trailer {
    height: 30vh;
  }
  .contenedor-transportable {
    height: 30vh;
  }
}
