@import "../globals.scss";

.trailers-container {
  background-color: $colorBlanco;
  overflow: hidden;
  width: 100vw;
  .scene-container {
    min-height: 100vh;
  }
  .video {
    position: relative;
    width: 100%;
  }
}
.cont-hero-trailer {
  position: relative;
  height: auto;
  .trailer-hero-title {
    @include heroPages;
  }
}
.cont-3d {
  padding: $paddingconTop;
}
@media (max-width: 600px) {
  .video-trailer {
    display: none !important;
  }
  .cont-hero-trailer {
    height: 30vh;
    background: url("/images/bannerTrailer.jpeg") center;
    background-size: cover;
  }
}
