@import "../globals.scss";
.catering-hero-title {
  @include heroPages;
}
.cateringsvg-container {
  background-color: $colorBlanco;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
    .svg-box {
      opacity: 0;
      scale: 0.1;
      flex: 1;
    }
  }
}
