@import "../globals.scss";

.division-container {
  width: 3em;
  background-color: $colorBlanco;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;

  .division-p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
