.main-wrapper {
  display: flex;
  > section {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
  }
}

.section3 {
  flex-shrink: 0;
  display: flex;
}
.section2 {
  background-color: yellow;
}
