@import "../globals.scss";

.home-contenedor-catering {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colorNegro;
  .h2-laterales {
    line-height: 1;
    top: 10%;
    position: absolute;
    z-index: 1;
    font-size: $fuenteSubtitulos;
    text-align: center;
    color: $colorBlanco;
  }
  > div {
    min-width: 300px;
  }
}

.mitad-der-home {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.buton-buton {
  position: absolute;
  top: 80%;
  left: 70%;
  border: solid 3px #fff;
  border-radius: 10px;
  color: $colorBlanco;
  padding: 1rem 2rem;
}

/* Estilo para el lado izq */

.mitad-izq {
  flex: 1;
  color: white;
  display: flex;
}
.div-izq {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-home-laterales {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-p-lateralesHome {
  flex: 1;
  display: flex;
  text-align: end;
  align-items: flex-end;
  overflow-y: hidden;
  padding: $paddingBodyCenterLaterales;
}

.trailers-section-svg {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: all ease 3s;
  padding: 4% 0;
  :nth-child(1) {
    //cebolla
    transform: translate(30%, 10%);
    transition: all ease 3s;
    scale: 1.3;
    &:hover {
      scale: 1.5;
    }
  }
  :nth-child(2) {
    //chaucha
    transform: translate(120%, 90%);
    transition: all ease 3s;
    scale: 1.5;
    &:hover {
      scale: 1.2;
    }
    @media (max-width: 900px) {
      transform: translate(200%, 200%);
      &:hover {
        rotate: -5deg;
      }
    }
  }

  > img {
    margin: 0;
    position: absolute;
    width: 35%;
    z-index: 1;
  }
}
@media (max-width: 750px) {
  .home-contenedor-catering {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .h2-laterales {
      text-align: end;
      right: 14%;
      top: 20%;
      font-size: $fuenteSubtMayusRESIZE;
    }
  }

  .mitad-izq {
    padding: $paddingBodyCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64%;
  }
  .section-p-lateralesHome {
    flex: none;
  }
  .mitad-der-home {
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 450px) {
  .h2-laterales {
    right: 5% !important;
  }
}
