@import "../globals.scss";
.contenedor2 {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: $paddingBodyCenter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $colorBlanco;
  background-color: $colorNegro;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .first {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      max-width: 70%;
      font-size: $fuenteSubtitulos;
      h2 {
        font-size: $fuenteSubtitulos;
        line-height: 1;
      }
      p {
        font-size: $fuenteTexto;
      }
    }
    .firstNuestros {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
      max-width: 500px;
      line-height: 1;
      h2 {
        font-size: $fuenteSubtitulos;
      }
      p {
        overflow: hidden;
      }
    }
  }
}
.text-empresa {
  font-size: $fuenteTexto;
  padding: 6% 0 15% 0;
}
.nuestros-text {
  font-size: $fuenteTexto;
  padding: 6% 0 15% 0;
}
.contenedor {
  position: relative;
  background-color: $colorNegro;
  color: $colorBlanco;
  @include divEspacio(center);
  min-height: 120vh;
  padding: $paddingBodyCenter;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .first {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: auto;
      margin-right: 10%;
      max-width: 70%;

      h2 {
        font-size: $fuenteSubtitulos;
        line-height: 1;
      }
      p {
        font-size: $fuenteTexto;
      }
    }
    .firstNuestros {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
      max-width: 500px;
      line-height: 1;
      h2 {
        font-size: $fuenteSubtitulos;
      }
      p {
        overflow: hidden;
      }
    }
  }
  .second {
    display: flex;
    flex-wrap: wrap;
    > section {
      flex: 1;
      gap: 10px;
      min-width: 250px;
    }
  }
}
