@import "../globals.scss";

.home-contenedor-catering {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colorNegro;
  .h2 {
    top: 10%;
    position: absolute;
    z-index: 1; /* Coloca el título por encima del fondo */
    font-size: $fuenteSubtitulos;
    text-align: center;
    color: $colorBlanco;
  }
  > div {
    min-width: 300px;
  }
}

.mitad-der {
  width: 100%;
  height: 100%;
  flex: 1;
}

/* Estilo para el lado izq */

.mitad-izq {
  flex: 1;
  color: white;
  display: flex;
}
.div-izq {
  height: 100%;
  display: flex;
  flex-direction: column;

  > section {
    flex: 1;
    overflow-y: hidden;
  }
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.section-p {
  display: flex;
  align-items: center;
  padding: $paddingBodyCenter;
}

.section-svg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: all ease 3s;

  :nth-child(1) {
    transform: translate(20%, 20%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      rotate: 20deg;
    }
  }
  :nth-child(2) {
    transform: translate(50%, 140%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      rotate: -20deg;
    }
  }
  :nth-child(3) {
    transform: translate(150%, 180%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(100%, 120%);
    }
  }
  :nth-child(4) {
    transform: translate(80%, 100%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(80%, 100%);
    }
  }
  :nth-child(5) {
    transform: translate(70%, 20%);
    transition: all ease 1s;
    &:hover {
      scale: 1.2;
      transform: translate(70%, 20%);
    }
  }
  :nth-child(6) {
    transform: translate(150%, 100%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(150%, 100%);
    }
  }
  :nth-child(7) {
    transform: translate(180%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(70%, 20%);
    }
  }
  > img {
    margin: 0;
    position: absolute;
    width: 35%;
  }
}
@media (max-width: 768px) {
  .home-contenedor-catering {
    .h2 {
      padding: $paddingBodyCenter;
      top: 30%;
    }
  }

  .mitad-izq {
    padding: $paddingBodyCenter;
    position: absolute;
    top: 50%;
  }

  .img {
    opacity: 0.5;
  }
}
