@import "../globals.scss";

.home-contenedor-catering {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colorNegro;
  .h2-laterales-cat {
    line-height: 1;
    top: 10%;
    position: absolute;
    z-index: 1;
    font-size: $fuenteSubtitulos;
    text-align: center;
    color: $colorBlanco;
  }
  > div {
    min-width: 300px;
  }
}

.mitad-der-home-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
  background: url("/images/catering.jpg") no-repeat center/cover;
}

.buton-lateral {
  border: solid 3px #fff;
  border-radius: 10px;
  color: $colorBlanco;
  padding: 1rem 2rem;
}
.visualizacion {
  display: none;
}
/* Estilo para el lado izq */

.mitad-izq-cat {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30vh;
  @media (max-width: 900px) {
    margin-top: 20vh;
  }
}
.div-izq-cat {
  display: flex;
  flex-direction: column;
}

.img-home-laterales {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-p-lateralesHome-cat {
  flex: 1;
  display: flex;
  text-align: end;
  align-items: flex-end;
  padding: $paddingBodyCenterLaterales;
}

.section-svg {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: all ease 3s;
  padding: 4% 0;
  :nth-child(1) {
    //cebolla
    transform: translate(5%, 0%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      rotate: 20deg;
    }
  }
  :nth-child(2) {
    //chaucha
    transform: translate(300%, 140%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      rotate: -20deg;
    }
    @media (max-width: 900px) {
      transform: translate(200%, 200%);
      &:hover {
        rotate: -5deg;
      }
    }
  }
  :nth-child(3) {
    //ensalada
    transform: translate(190%, 180%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(100%, 120%);
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  :nth-child(4) {
    //palta
    transform: translate(80%, 100%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(80%, 100%);
    }
    @media (max-width: 900px) {
      transform: translate(80%, 230%);
      scale: 1.4;
      &:hover {
        scale: 1.5;
        rotate: 25deg;
      }
    }
  }
  :nth-child(5) {
    //pimiento
    transform: translate(230%, 0%);
    transition: all ease 1s;
    &:hover {
      scale: 1.2;
      transform: translate(200%, 20%);
    }
    @media (max-width: 900px) {
      scale: 1.5;
      transform: translate(230%, 130%);
      &:hover {
        scale: 1.6;
        transform: translate(200%, 120%);
      }
    }
  }
  :nth-child(6) {
    //tomate
    transform: translate(150%, 50%);
    transition: all ease 3s;
    &:hover {
      scale: 1.2;
      transform: translate(200%, 100%);
    }
  }

  > img {
    margin: 0;
    position: absolute;
    width: 35%;
    z-index: 1;
  }
}
@media (max-width: 750px) {
  .home-contenedor-catering {
    background-color: transparent;
    .h2-laterales-cat {
      text-align: end;
      right: 12%;
      top: 15%;
      font-size: $fuenteSubtMayusRESIZE;
    }
  }
  .mitad-der-home-cat {
    display: none;
  }
  .mitad-izq-cat {
    background: url("/images/catering.jpg") no-repeat center/cover;
    padding: 0 5% 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 100%;
  }
  .visualizacion {
    display: inline;
    margin: 5% 8% 0% 8%;
    align-self: flex-end;
  }
}
@media (max-width: 450px) {
  .h2-laterales-cat {
    right: 10%;
  }
}
//-----para ancho y alto----------//
@media screen and (max-width: 700px) and (max-height: 700px) {
  .mitad-izq-cat {
    margin-top: 10vh;
  }
}
