@import "../globals.scss";
.contenedor2 {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: $paddingBodyCenter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $colorBlanco;
  background-color: $colorNegro;

  > div {
    flex: 1;
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .first {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      max-width: 70%;
      font-size: $fuenteSubtitulos;

      p {
        font-size: $fuenteTexto;
      }
    }
    .firstNuestros {
      display: flex;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      max-width: 500px;
      line-height: 1;
      @media (max-width: 400px) {
        align-items: flex-end;
      }
      p {
        overflow: hidden;
      }
    }
  }
}
.nuestros-h2 {
  font-size: $fuenteSubtitulos;
  line-height: 1;

  @media (max-width: 700px) {
    text-align: end;
    font-size: $fuenteSubtMayusRESIZE;
  }
}
// Sector nuestra empresa home
.text-empresa {
  font-size: $fuenteTexto;
  padding: 6% 0;
}
.nuestros-text {
  font-size: $fuenteTexto;
  padding: 6% 0 15% 0;
}
.contenedor {
  position: relative;
  background-color: $colorNegro;
  color: $colorBlanco;
  @include divEspacio(center);
  height: clamp(60vh, 70vw, 100vh);
  padding: $paddingBodyCenter;
  @media (max-width: 751px) {
    height: auto;
  }
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .first {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
      margin-right: 10%;
      width: 70%;
      @media (max-width: 751px) {
        width: 100%;
      }
      h2 {
        font-size: $fuenteSubtitulos;
        line-height: 1;
        @media (max-width: 700px) {
          font-size: $fuenteSubtMayusRESIZE;
        }
      }
      p {
        font-size: $fuenteTexto;
      }
    }
    .firstNuestros {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-left: auto;
      max-width: 500px;
      line-height: 1;
      h2 {
        font-size: $fuenteSubtitulos;
      }
      p {
        overflow: hidden;
      }
    }
  }
  .second {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    > section {
      flex: 1;
      gap: 10px;
      min-width: 250px;
    }
  }
  .second-section2 {
    @media (max-width: 751px) {
      display: none;
    }
  }
}
